@use "../global/variables" as *;
@use "../global/mixin" as *;



.concept2 {

}

.concept2__inner {
    padding: 0 15px;

    @include mq(pc) {
        padding: 0 40px;
    }
}

.concept2__content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include mq(pc) {
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
    }
}


.concept2__content--img {
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;

        @include mq(pc) {
            max-width: 600px;
            height: auto;
        }
    }

}

.concept2__content--text {
    display: flex;
    flex-direction: column;
    gap: 22px;
    font-feature-settings: "palt" 1;


    @include mq(pc) {
        gap: 36px;
    }
}

.concept2__content--title {
    font-size: 20px;
    font-weight: 600;

    @include mq(pc) {
      font-size: 28px;
      min-width: 400px;
    }
}

.concept2__content--paragraph {
    letter-spacing: -0.001em;
    font-size: 14px;
    line-height: 1.71;
    
    @include mq(pc) {
        font-size: 16px;
        line-height: 1.67;
        max-width: 512px;
        text-align: justify;

    }
}

