@use "../global/variables" as *;
@use "../global/mixin" as *;

.header {
    padding: 14px 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 55px;
    width: 100%;
    background-color: #fff;
    z-index: 100;

    @include mq(pc) {
        padding: 16px 0;
        height: 70px;
    }
}

.header__inner {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq(pc) {
        padding: 0 40px;
    }
}

.header__logo {
    display: block;

    img {
        width: 120px;
        height: auto;
    }
}

.header__nav {
    display: none;

    @include mq(pc) {
        margin-top: 6px;
        display: flex;
        gap: 46px;

        a {
            transition: color 0.3s;

            &:hover {
                color: $color-key;
            }
        }
    }
}

.header__icon {
    display: block;
    position: relative;
    margin-top: 4px;
    width: 30px;
    height: 18px;

    @include mq(pc) {
        display: none;
    }

    span {
        position: absolute;
        background-color: $color-key;
        top: 0;
        left: 0;
        width: 30px;
        height: 2px;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;

        &:nth-of-type(1) {
            top: 0;
        }

        &:nth-of-type(2) {
            top: 8px;
        }

        &:nth-of-type(3) {
            top: 16px;
        }

    }

    &.is-active {
        span {
            &:nth-of-type(1) {
                top: 9px;
                rotate: 45deg;
            }

            &:nth-of-type(2) {
                opacity: 0;
            }

            &:nth-of-type(3) {
                top: 10px;
                rotate: -45deg;
            }
        }
    }
}

.drawer {
    display: block;
    position: absolute;
    top: 60px;
    right: -100%;
    width: 270px;
    height: calc(100vh - 60px);
    background-color: $color-key;
    z-index: 100;
    transition: all 0.3s ease-in-out;

    &.is-active {
        right: 0;
    }

    @include mq(pc) {
        //   display: none;
    }
}

.drawer__inner {
    text-align: right;
    padding-top: 40px;
    padding-right: 15px;

}

.drawer__nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
}

.drawer__list--item {}